{% extends('base.html.twig') %}

{% set page_title = 'Get started' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('auth') }}
{% endblock %}

{% block content %}
    <div class="container" id="auth">
        {% if loginForm is defined %}
            <div class="login">
                <div class="wrapper">
                    <strong>Login</strong>
                    <p>
                        Welcome back! Please enter your login details to access the app's invoice generation,
                        charting and other features.
                    </p>
                    <button onclick="switchForm()">You don't have an account yet? Register now</button>
                </div>
                {{ form(loginForm) }}
            </div>
        {% endif %}

        {% if registerForm is defined %}
            <div class="register">
                <div class="wrapper">
                    <strong>Register new account</strong>
                    <p>

                        Join our community! Get full access to app features like generating invoices,
                        creating charts and more. Complete the form below to create a new account.
                    </p>
                    <button onclick="switchForm()">Already have an account? Log in</button>
                </div>
                {{ form(registerForm) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}